<footer class="footer">

  <div class="pre-footer">

      <div class="container-fluid container container-sm container-md container-lg">

          <div class="pre-footer__container">

              <div class="widget widget-1">

                  <div id="logo" class="logo">
                      <a href="#" class="logo__link">
                          <img class="logo__image" src="assets/images/logo.png" alt="Logo del sitio" />
                          <div class="logo__text"><span class="logo__text--blue">BIT</span>Store</div>
                      </a>
                  </div>

              </div>
              <div class="widget  widget-2">

                  <nav class="nav__menu">
                      <ul class="menu menu__nav menu-footer">
                          <li class="menu-item"><a href="#" class="menu-item__link">Quiénes somos</a></li>
                          <li class="menu-item"><a href="#" class="menu-item__link">Política de privacidad</a></li>
                          <li class="menu-item"><a href="#" class="menu-item__link">Programa de fidelidad</a></li>
                          <li class="menu-item"><a href="#" class="menu-item__link">Nuestras tiendas</a></li>
                          <li class="menu-item"><a href="#" class="menu-item__link">Quiero ser franquiciado</a></li>
                          <li class="menu-item"><a href="#" class="menu-item__link">Anuncie aquí</a></li>
                      </ul>
                  </nav>

              </div>
              <div class="widget  widget-3">

                  <form class="form form__talk-to-us" name="form">
                      <h3 class="pre-footer__title">Hable con nosotros.</h3>
                      <div class="form-container">

                          <div class="field field-input field-1">
                              <input type="text" name="name" class="form-control form-input" id="name" placeholder="Escribe tú nombre" data-type="input-name" autocomplete="off" required />
                              <label for="name" class="form-label" data-type="label-name">Nombre:</label>
                              <span class="form-message">Mensaje informativo o de error</span>
                          </div>
                          <div class="field field-textarea field-2">
                              <textarea name="mensagem" class="form-control form-textarea" id="mensagem" placeholder="Escribe un mensage" data-type="textarea-mensagem" required></textarea>
                              <label for="mensagem" class="form-label" data-type="label-mensagem">Mensaje:</label>
                              <span class="form-message">Mensaje informativo o de error</span>
                          </div>
                          <div class="field field-button field-3">
                              <button type="submit" class="btn btn-primary" disabled>Enviar mensaje</button>
                          </div>

                      </div>
                  </form>

              </div>

          </div>

      </div>

  </div>


  <div class="main-footer">

      <div class="container container-sm container-md container-lg">
          <div class="main-footer__content">

              <div class="copyright">© Copyright 2024 | BITStore | All rights reserved | Powered by Angular</div>
              <ul class="menu menu-social-network">
                  <li class="menu-item">
                      <a href="#" class="menu-item__link">
                          <fa-icon [icon]="faFacebook"></fa-icon>
                      </a>
                  </li>
                  <li class="menu-item">
                      <a href="#" class="menu-item__link">
                          <fa-icon [icon]="faXTwitter"></fa-icon>
                      </a>
                  </li>
                  <li class="menu-item">
                      <a href="#" class="menu-item__link">
                          <fa-icon [icon]="faInstagram"></fa-icon>
                      </a>
                  </li>
                  <li class="menu-item">
                      <a href="#" class="menu-item__link">
                          <fa-icon [icon]="faYoutube"></fa-icon>
                      </a>
                  </li>
              </ul>

          </div>
      </div>

  </div>

</footer>
