<h2>Listado de categorias</h2>
<div class="container container-sm container-md container-lg">
  <table class="data-table">
      <thead>
          <tr>
              <th>Nombre de la categoria</th>
              <th>Descripcion</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
        <tr>
            <td>Hogar</td>
            <td>Descripcion de la categoria hogar</td>
            <td class="actions">
                <a href="#" class="btn btn-outline-primary">Editar</a>
                <a href="#" class="btn btn-primary">Eliminar</a>
            </td>
        </tr>
        <tr>
          <td>Tecnologia</td>
          <td>Descripcion de la categoria tecnologia</td>
          <td class="actions">
              <a href="#" class="btn btn-outline-primary">Editar</a>
              <a href="#" class="btn btn-primary">Eliminar</a>
          </td>
        </tr>
        <tr>
          <td>Mascotas</td>
          <td>Descripcion de la categoria mascotas</td>
          <td class="actions">
              <a href="#" class="btn btn-outline-primary">Editar</a>
              <a href="#" class="btn btn-primary">Eliminar</a>
          </td>
        </tr>
        <tr>
          <td>Herramientas</td>
          <td>Descripcion de la categoria Herramientas</td>
          <td class="actions">
              <a href="#" class="btn btn-outline-primary">Editar</a>
              <a href="#" class="btn btn-primary">Eliminar</a>
          </td>
        </tr>

      </tbody>
  </table>
</div>
