<h2>Category List</h2>

<!-- <pre>{{ categories | json }}</pre> -->

<div class="container container-sm container-md container-lg">
  <div class="panel">
    <a routerLink="/dashboard/category/new" class="btn btn-secondary">New Category</a>
  </div>
  <table class="data-table">
      <thead>
          <tr>
              <th>Category name</th>
              <th>Description</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        @for ( category of categories; track $index ) {
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td class="actions">
                <a class="btn btn-outline-primary" (click)="goEditCategory( category._id )">Edit</a>
                <a class="btn btn-primary" (click)="removeCategory( category._id )">Delete</a>
            </td>
        </tr>
        }
      </tbody>
  </table>
</div>
