<section id="sections" class="sections" data-sections="">
  <section class="section category section-products products" data-section="section-products">
    <div class="container">
      <header class="section__header category__header">
        <h2>Todos los productos</h2>
      </header>
      <ul class="product__content-list nav_section" data-product-list="">

        @for ( product of products; track $index ) {

          <li class="nav-item">
            <div class="product-item">
              <img class="product-item__image" [src]="product.urlImage" [alt]="product.name">
                <header class="header-product">
                  <h3 class="product-item__name product__name">{{ product.name }}</h3>
                  <small class="product-item__category">{{ product.category?.name  }}</small>
                </header>
                <div class="product__info">
                  <p class="product__description">
                    {{ product.description  }}
                  </p>
                  <p class="product-item__price product__price">{{ product.price | currency }}</p>
                </div>
                <footer class="footer-product">
                  <button class="btn btn-primary" (click)="addToCard( product )">
                    Agregar al carrito
                  </button>
                </footer>
            </div>
          </li>

        }

      </ul>
    </div>
  </section>
</section>
