<section id="sections" class="sections" data-sections="">
  <section class="section category section-products products" data-section="section-products">
    <div class="container">
      <header class="section__header category__header">
        <h2>Todos los productos</h2>
      </header>
      <ul class="product__content-list nav_section" data-product-list="">

        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
        <li class="nav-item">
          <div class="product-item">
            <div class="product-item__icons icons"><a class="icon icon-delete product-item__icon-delete"
                href="/product-add.html?id=1668700858693" data-id="1668700858693" data-action="delete"></a><a
                class="icon icon-edit product-item__icon-edit" href="/product-add.html?id=1668700858693"
                data-id="1668700858693" data-action="edit"></a></div><img class="product-item__image"
              src="https://i.ytimg.com/vi/3S8Q7-R8Dyc/maxresdefault.jpg" alt="The Mandatorian: Yoda Baby">
              <header class="header-product">
                <h3 class="product-item__name product__name">The Mandatorian: Yoda Baby</h3>
                <small class="product-item__category">Technology</small>
              </header>
              <div class="product__info">
                <p class="product__description">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro laudantium totam iusto.
                </p>
                <p class="product-item__price product__price">$300.00</p>
              </div>
              <footer class="footer-product">
                <a class="btn btn-primary" href="/product-add.html">Agregar
                  al carrito</a>
              </footer>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>
